.hero {
  background: linear-gradient(120deg, #1d2b64, #5d26c1, #21d4fd, #b721ff);
  background-size: 400% 400%; 
  animation: gradientAnimation 15s ease infinite;
  color: white; /* Adjust text color to contrast the background */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0 5%;
  height: 100vh; /* Full-screen hero section */

  display: flex;
  justify-content: space-between;
  align-items: center;
}
 @keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} 

.hero-text {
  flex: 1;
  max-width: 50%;
  text-align: left;
}

.hero-text h1 {
  font-size: 3rem;
  margin: 0 0 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.hero-text p {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.hero-text button {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.9s ease-in-out;
}
.hero-text button:hover {
  color: white;
  background-color: #21cbff;
  box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.8);

}
.hero-image {
  flex: 1;
  max-width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 7rem 5%;
  }

  .hero-text {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .hero-text h2 {
    font-size: 2.5rem;
  }

  .hero-image {
    max-width: 100%;
  }

  .hero-image img {
    max-width: 400px;
  }
}